<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="bhouse.jtenun"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
    android:allowBackup="true"
      android:icon="@mipmap/logosatunol"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:largeHeap="true"

    android:theme="@style/AppTheme">

    <activity
        android:name=".SplashActivity"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>


    <activity
        android:name=".MainActivity"
        android:theme="@style/Base.V21.Theme.AppCompat">

    </activity>

    <activity
      android:name="bhouse.jtenun.DetailActivity"
      android:screenOrientation="portrait">
    </activity>

      <activity
          android:name="bhouse.jtenun.JenisTenunActivity"
          android:screenOrientation="portrait"></activity>

      <activity
        android:name="bhouse.jtenun.DetailImageActivity"
        android:screenOrientation="portrait">
    </activity>

      <activity
          android:name="bhouse.jtenun.GenerateMotifActivity"
          android:screenOrientation="portrait"></activity>

  </application>

</manifest>
